# Setup enviroment

In [2]:
import pandas as pd
import os

# Extract

In [3]:
data_dir = os.path.abspath('..\\') + '\\data'

In [4]:
df = pd.read_csv(f'{data_dir}\\analysis\\data_to_analysis.csv')

# Data information

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61364 entries, 0 to 61363
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BID        61364 non-null  float64
 1   ASK        61364 non-null  float64
 2   SPREAD     61364 non-null  float64
 3   DATETIME   61364 non-null  object
 4   TIMESTAMP  61364 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.3+ MB

In [13]:
df.describe()

                BID           ASK   SPREAD     TIMESTAMP
count  61364.000000  61364.000000  61364.0  6.136400e+04
mean       1.092258      1.092258      0.0  1.680615e+09
std        0.002473      0.002473      0.0  2.019320e+04
min        1.088310      1.088310      0.0  1.680566e+09
25%        1.090160      1.090160      0.0  1.680601e+09
50%        1.091850      1.091850      0.0  1.680617e+09
75%        1.094800      1.094800      0.0  1.680630e+09
max        1.097330      1.097330      0.0  1.680653e+09

# Transform

1ª Etapa

In [19]:
Y = [i for i in range(len(df)-1)]

2ª Etapa

In [26]:
# MME = (V – MME anterior) x (2/(n + 1) + MME

def mme(vetor,w):
    media = []
    media_anterior = vetor[0]

    for i in range(len(vetor)):
        media_atual = (vetor[i] - media_anterior) * (2/(w +1)) + media_anterior
        media.append(media_atual)
        media_anterior = media_atual
    
    return media[-1]

3ª Etapa